### Catenating Datasets in Pandas

#### Vertical Catenation (axis=0)
```python
# Helper function to create DataFrames
def makedf(cols, ind):
    data = {c: [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)

# Example DataFrames
a = makedf("AB", [0,1])
b = makedf("AB", [2,3])
c = makedf("CD", [0,1])
d = makedf("BC", [2,3])

# Concatenating vertically
result1 = pd.concat([a, b])
```
Result:
```
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
```

#### Duplicate Indices
```python
# Concatenating with duplicate indices
result2 = pd.concat([a, a])
# Handling duplicate indices
result3 = pd.concat([a, a], ignore_index=True)
result4 = pd.concat([a, a], keys=['first', 'second'])
```
Result (`result2` with duplicate indices):
```
    A   B
0  A0  B0
1  A1  B1
0  A0  B0
1  A1  B1
```
Result (`result3` with renumbered indices):
```
    A   B
0  A0  B0
1  A1  B1
2  A0  B0
3  A1  B1
```
Result (`result4` with hierarchical indexing):
```
         A   B
first  0  A0  B0
       1  A1  B1
second 0  A0  B0
       1  A1  B1
```

#### Horizontal Catenation (axis=1)
```python
# Concatenating horizontally
result5 = pd.concat([a, c], axis=1)
```
Result:
```
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
```

#### Handling Different Columns and Indices
```python
# Outer join (union of columns)
result6 = pd.concat([a, d], sort=False)
# Inner join (intersection of columns)
result7 = pd.concat([a, d], join="inner")
```
Result (`result6` with outer join and NaNs):
```
     A    B    C
0   A0   B0  NaN
1   A1   B1  NaN
2  NaN   B2   C2
3  NaN   B3   C3
```
Result (`result7` with inner join):
```
    B
0  B0
1  B1
2  B2
3  B3
```

In [39]:
"""
Exercise 5.1 (split date continues)
Write function split_date_continues that does

read the bicycle data set
clean the data set of columns/rows that contain only missing values

drops the Päivämäärä column and replaces it with its splitted components as before

Use the concat function to do this.

The function should return a DataFrame with 25 columns (first five related to the date and then the rest 20 concerning the measument location.

Hint: You may use your solution or the model solution from exercise 16 of the previous set as a starting point.
"""

"""
days = dict(zip("ma ti ke to pe la su".split(), "Mon Tue Wed Thu Fri Sat Sun".split()))
months = dict(zip("tammi helmi maalis huhti touko kesä heinä elo syys loka marras joulu".split(), range(1,13)))
def split_date():
    df = pd.read_csv("src/Helsingin_pyorailijamaarat.csv", sep=";")
    df = df.dropna(axis=0, how="all").dropna(axis=1, how="all")
    d = df["Päivämäärä"].str.split(expand=True)
    d.columns = ["Weekday", "Day", "Month", "Year", "Hour"]
 
    hourmin = d["Hour"].str.split(":", expand=True)
    d["Hour"] = hourmin.iloc[:,0]
 
    d["Weekday"] = d["Weekday"].map(days)
    d["Month"] = d["Month"].map(months)
    
    d = d.astype({"Weekday": object, "Day": int, "Month": int, "Year": int, "Hour": int})
    return d"""

import pandas as pd
import numpy as np

days = dict(zip("ma ti ke to pe la su".split(), "Mon Tue Wed Thu Fri Sat Sun".split()))
months = dict(zip("tammi helmi maalis huhti touko kesä heinä elo syys loka marras joulu".split(), range(1,13)))
def split_date(df):
   
    
    d = df["Päivämäärä"].str.split(expand=True)
    d.columns = ["Weekday", "Day", "Month", "Year", "Hour"]
 
    hourmin = d["Hour"].str.split(":", expand=True)
    d["Hour"] = hourmin.iloc[:,0]
 
    d["Weekday"] = d["Weekday"].map(days)
    d["Month"] = d["Month"].map(months)

    
    d = d.astype({"Weekday": object, "Day": int, "Month": int, "Year": int, "Hour": int})
    return d


def split_date_continues():
    df = pd.read_csv("part05-e01_split_date_continues/src/Helsingin_pyorailijamaarat.csv", sep=';')

    # cleaning all the missing values
    df = df.dropna(axis = 0, how='all').dropna(axis = 1, how='all')

    # first 5 column for date format
    date_format = split_date(df)
    
    # drop Päivämäärä
    df = df.drop('Päivämäärä', axis=1) 
   
    
    # rest 20 concerning the measurment location
    df = pd.concat([date_format, df], axis=1)

    return df

    
 

def main():
    df = split_date_continues()
    print("Shape:", df.shape)
    print("Column names:\n", df.columns)
    print(df.head())
main()

Shape: (37128, 25)
Column names:
 Index(['Weekday', 'Day', 'Month', 'Year', 'Hour', 'Auroransilta',
       'Eteläesplanadi', 'Huopalahti (asema)', 'Kaisaniemi/Eläintarhanlahti',
       'Kaivokatu', 'Kulosaaren silta et.', 'Kulosaaren silta po. ',
       'Kuusisaarentie', 'Käpylä, Pohjoisbaana',
       'Lauttasaaren silta eteläpuoli', 'Merikannontie',
       'Munkkiniemen silta eteläpuoli', 'Munkkiniemi silta pohjoispuoli',
       'Heperian puisto/Ooppera', 'Pitkäsilta itäpuoli',
       'Pitkäsilta länsipuoli', 'Lauttasaaren silta pohjoispuoli',
       'Ratapihantie', 'Viikintie', 'Baana'],
      dtype='object')
  Weekday  Day  Month  Year  Hour  Auroransilta  Eteläesplanadi  \
0     Wed    1      1  2014     0           NaN             7.0
1     Wed    1      1  2014     1           NaN             5.0
2     Wed    1      1  2014     2           NaN             2.0
3     Wed    1      1  2014     3           NaN             5.0
4     Wed    1      1  2014     4           NaN             1.0

   Huopalahti (asema)  Kaisaniemi/Eläintarhanlahti  Kaivokatu  ...  \
0                 NaN                          1.0        NaN  ...
1                 NaN                          3.0        NaN  ...
2                 NaN                          3.0        NaN  ...
3                 NaN                          2.0        NaN  ...
4                 NaN                          4.0        NaN  ...

   Merikannontie  Munkkiniemen silta eteläpuoli  \
0            NaN                            2.0
1            NaN                            6.0
2            NaN                            1.0
3            NaN                            0.0
4            NaN                            1.0

   Munkkiniemi silta pohjoispuoli  Heperian puisto/Ooppera  \
0                             5.0                      3.0
1                             5.0                      1.0
2                             1.0                      1.0
3                             2.0                      0.0
4                             1.0                      1.0

   Pitkäsilta itäpuoli  Pitkäsilta länsipuoli  \
0                  NaN                   11.0
1                  NaN                    8.0
2                  NaN                   14.0
3                  NaN                    7.0
4                  NaN                    9.0

   Lauttasaaren silta pohjoispuoli  Ratapihantie  Viikintie  Baana
0                              NaN           NaN        NaN    8.0
1                              NaN           NaN        NaN    4.0
2                              NaN           NaN        NaN   11.0
3                              NaN           NaN        NaN    3.0
4                              NaN           NaN        NaN    4.0

[5 rows x 25 columns]

### Merging DataFrames in Pandas

#### One-to-One Merge
```python
import pandas as pd

# Original DataFrames
df = pd.DataFrame([[1000, "Jack", 21], [1500, "John", 29]], columns=["Wage", "Name", "Age"])
df2 = pd.DataFrame({"Name" : ["John", "Jack"], "Occupation": ["Plumber", "Carpenter"]})

# One-to-One Merge
result_df = pd.merge(df, df2)
```

#### Inner Join with Missing Keys
```python
# Adding a person without wage and age
df3 = pd.concat([df2, pd.DataFrame({ "Name" : ["James"], "Occupation":["Painter"]})], ignore_index=True)

# Inner Join (default behavior)
result_inner_join = pd.merge(df, df3)
```

#### Outer Join
```python
# Outer Join
result_outer_join = pd.merge(df, df3, how="outer")
```

#### Many-to-One and Many-to-Many Relationships
```python
# Books and Collections DataFrames
books = pd.DataFrame({"Title" : ["War and Peace", "Good Omens", "Good Omens"] , 
                      "Author" : ["Tolstoi", "Terry Pratchett", "Neil Gaiman"]})
collections = pd.DataFrame([["Oodi", "War and Peace"],
                           ["Oodi", "Good Omens"],
                           ["Pasila", "Good Omens"],
                           ["Kallio", "War and Peace"]], columns=["Library", "Title"])

# Many-to-Many Merge
libraries_with_books_by = pd.merge(books, collections)
```

### Summary:
- One-to-One Merge: Merging based on a common field.
- Inner Join: Default behavior, keeps only matching keys.
- Outer Join: Includes all keys from both DataFrames.
- Many-to-One and Many-to-Many Merges: Handling relationships where keys may repeat in one or both DataFrames.

These concepts are essential for combining and analyzing data from different sources in Pandas.

In [64]:
"""
Exercise 5.2 (cycling weather)
Merge the processed cycling data set (from the previous exercise) and 
weather data set along the columns year, month, and day. 

Note that the names of these columns might be different in the two tables: 
use the left_on and right_on parameters. Then drop useless columns 'm', 'd', 'Time', and 'Time zone'.

Write function cycling_weather that reads the data sets and returns the resulting DataFrame.
"""
import pandas as pd

days = dict(zip("ma ti ke to pe la su".split(), "Mon Tue Wed Thu Fri Sat Sun".split()))
months = dict(zip("tammi helmi maalis huhti touko kesä heinä elo syys loka marras joulu".split(), range(1,13)))
def split_date(df):
   
    
    d = df["Päivämäärä"].str.split(expand=True)
    d.columns = ["Weekday", "Day", "Month", "Year", "Hour"]
 
    hourmin = d["Hour"].str.split(":", expand=True)
    d["Hour"] = hourmin.iloc[:,0]
 
    d["Weekday"] = d["Weekday"].map(days)
    d["Month"] = d["Month"].map(months)

    
    d = d.astype({"Weekday": object, "Day": int, "Month": int, "Year": int, "Hour": int})
    return d


def split_date_continues():
    df = pd.read_csv("part05-e02_cycling_weather/src/Helsingin_pyorailijamaarat.csv", sep=';')

    # cleaning all the missing values
    df = df.dropna(axis = 0, how='all').dropna(axis = 1, how='all')

    # first 5 column for date format
    date_format = split_date(df)
    
    # drop Päivämäärä
    df = df.drop('Päivämäärä', axis=1) 
   
    
    # rest 20 concerning the measurment location
    df = pd.concat([date_format, df], axis=1)

    return df


def cycling_weather():
    
    cycling_data_set = split_date_continues()
    weather_data_set = pd.read_csv("part05-e02_cycling_weather/src/kumpula-weather-2017.csv", sep=',')
 
  
    
    merge_data = pd.merge(cycling_data_set, weather_data_set, left_on=['Year','Month','Day'], right_on=['Year','m','d'])
    drop_columns = ['m','d','Time','Time zone']
   
    merge_data = merge_data.drop(columns=drop_columns)

    return(merge_data)

"""def cycling_weather():
    wh = pd.read_csv("src/kumpula-weather-2017.csv")
    bike = split_date_continues()
    result = pd.merge(wh, bike, left_on=["Year", "m", "d"], right_on=["Year", "Month", "Day"])
 
    return result.drop(['m', 'd', 'Time', 'Time zone'], axis=1)"""

def main():
    cycling_weather()
    return
main()

(8760, 28)

In [88]:
"""Exercise 5.3 (top bands)
Merge the DataFrames UK top40 and the bands DataFrame that are stored in the src folder. 
Do all this in the parameterless function top_bands, which should return the merged DataFrame. 
Use the left_on and right_on parameters to merge. Test your function from the main function.
"""

import pandas as pd

def top_bands():
    # top40UK
    top40UK = pd.read_csv("part05-e03_top_bands/src/UK-top40-1964-1-2.tsv", sep='\t')
    bands = pd.read_csv("part05-e03_top_bands/src/bands.tsv", sep='\t')
    bands['Band'] = bands['Band'].str.title()
    top40UK['Artist'] =  top40UK['Artist'].str.title()
  
    merge_data = pd.merge(top40UK, bands, left_on='Artist', right_on='Band')
   
    return merge_data

def main():
    top_bands()
    return
main()

0                    The Beatles
1            The Dave Clark Five
2       Freddie And The Dreamers
3                    The Shadows
4             The Rolling Stones
5       Gerry And The Pacemakers
6                    The Hollies
7    Johnny Kidd And The Pirates
Name: Band, dtype: object
0                              The Beatles
1                      The Dave Clark Five
2                              The Beatles
3                 Freddie And The Dreamers
4                              Gene Pitney
5                        Dusty Springfield
6                          The Singing Nun
7                     Los Indios Tabajaras
8                              Kathy Kirby
9                            Cliff Richard
10                           Big Dee Irwin
11                             The Shadows
12                     Swinging Blue Jeans
13                           Elvis Presley
14                      The Rolling Stones
15                Gerry And The Pacemakers
16                             The Hollies
17                          Chris Sandford
18             Bern Elliott And The Fenmen
19                              Adam Faith
20          Billy J Kramer And The Dakotas
21                           Harry Secombe
22                             Roy Orbison
23                              Dora Bryan
24                          Shirley Bassey
25    Wilfred Brambell And Harry H Corbett
26                                   Heinz
27                             Buddy Holly
28                              Matt Monro
29                             Mark Wynter
30             Johnny Kidd And The Pirates
31                                Fourmost
32           Brian Poole And The Tremeloes
33            Nino Tempo And April Stevens
34                    Peter, Paul And Mary
35                             Chuck Berry
36                              Billy Fury
37                           The Searchers
38            Chad Stuart And Jeremy Clyde
39                         Richard Anthony
Name: Artist, dtype: object
(9, 13)