## Basic input and output

This text discusses basic input and output operations in Python. It begins by introducing a simple "Hello, world" program that can be executed in a Python environment. Users are encouraged to edit the text within quotes and rerun the program.

The text also demonstrates how to print multiple strings, which are concatenated by default with spaces. It explains that numerical expressions within the print function are evaluated and converted to strings, and then concatenated with spaces.

Additionally, the text introduces the input function, which allows users to read textual input from the user. This function is given a string parameter, which is printed as a prompt to the user. The example provided shows how to use the input function to store a user's name in a variable and then print a greeting with that name.

In summary, the text covers basic Python concepts related to printing, user input, and program execution.

In [1]:
print("Hello, world!")

Hello, world!

In [2]:
print("Hello", "John!", "How are you?")

Hello John! How are you?

In [3]:
print(1, "plus", 2, "equals", 1+2)

1 plus 2 equals 3

In [4]:
name=input("Give me your name: ")
print("Hello,", name)

Hello, John

## Indentation
- For Loops in Python

Repetition is possible with the for loop in Python.
The body of the for loop is indented with a tabulator or four spaces.

Unlike some other languages, Python doesn't use braces to denote the body of the loop.
When the indentation stops, the body of the loop ends.

Example:

```python

for i in range(3):
    print("Hello")
print("Bye!")
```
Output:
Hello
Hello
Hello
Bye!

Indentation in Python:

Indentation is a crucial part of Python syntax.
It is used not only in for loops but also in other compound statements, such as function bodies, different branches of if statements, and while loops.

- The range() Function:
The range(3) expression results in a sequence of integers: 0, 1, and 2.
In Python, range represents a half-open interval, with the end point excluded from the range.
In general, range(n) gives integers from 0 up to (n-1).

- Printing Variable Values in a For Loop

You can modify the code to print the value of the variable i at each iteration of the loop.
This is done by adding print(i) inside the for loop.

- Modified Example:

```python
for i in range(3):
    print("Hello")
    print(i)  # Added to print the value of i
print("Bye!")
```
When you run this modified code, it will print the value of i along with "Hello" and "Bye!" at the end.

## Exercise 1.1 (Hello world)

Fill in the missing piece in the solution stub file hello_world.py in folder src to make it print the following:

Hello, world!
Make sure you use correct indenting. You can run it with command python3 src/hello_world.py. If the output looks good, then you can test it with command tmc test. If the tests pass, submit your solution to the server with command tmc submit.

In [6]:
print("Hello, world!")

Hello, world!

## Exercise 1.2 (compliment)
Fill in the stub solution to make the program work as follows. The program should ask the user for an input, and then print an answer as the examples below show.

What country are you from? Sweden
I have heard that Sweden is a beautiful country.

What country are you from? Chile  
I have heard that Chile is a beautiful country.

In [7]:
country = input("What country are you from? ")
print(f"I have heard that {country} is a beautiful country.")

I have heard that China is a beautiful country.

## Exercise 1.3 (multiplication)
Make a program that gives the following output. You should use a for loop in your solution.

4 multiplied by 0 is 0

In [9]:
number = 4
for first in range(11):
    product = first * number
    print(f"{number} multiplied by {first} is {product}")

4 multiplied by 0 is 0
4 multiplied by 1 is 4
4 multiplied by 2 is 8
4 multiplied by 3 is 12
4 multiplied by 4 is 16
4 multiplied by 5 is 20
4 multiplied by 6 is 24
4 multiplied by 7 is 28
4 multiplied by 8 is 32
4 multiplied by 9 is 36
4 multiplied by 10 is 40

## Variables and data types

Python allows simple variable assignment, e.g., a = 1, without explicitly specifying the variable type.

You can determine a variable's type using the type function.

Python uses dynamic typing, meaning the type of a variable is based on its value, not its name.

Variables are names that refer to values, and the assignment operator binds the name to the value.

Basic data types in Python include int, float, complex, str, bool, and bytes.

Examples of data type usage: i = 5, f = 1.5, b = i == 4, c = 0 + 2j, s = "conca" + "tenation".

Type names can be used for type conversion, e.g., int(-2.8), float(2), int("123"), bool(-2), bool(0), str(234).

Bytes are used to represent information with values between 0 and 255, consisting of 8 bits, commonly used in storage and data transmission.

Characters are encoded as sequences of bytes, and you can encode and decode them using methods like .encode() and .decode().

Understanding bytes may be necessary when dealing with specific data sets and specifying character encoding

In [10]:
a = 1
print(a)

1

In [11]:
type(a)

int

In [12]:
a = "some text"
type(a)

str

In [13]:
i = 5
f = 1.5
b = i == 4
print("Result of the comparison:", b)
c=0+2j # Note that j denotes the imaginary unit of complex numbers.
print("Complex multiplication:", c * c)
s="conca" + "tenation"
print(s)

Result of the comparison: False
Complex multiplication: (-4+0j)
concatenation

In [14]:
print(int(-2.8))
print(float(2))
print(int("123"))
print(bool(-2), bool(0)) # Zero is interpreted as False
print(str(234))

-2
2.0
123
True False
234

In [16]:
b = "ä".encode("utf-8") # Convert characters(s) to a sequence of bytes

print(b) # Prints bytes in hexadecimal notation

print(list(b))  # Prints bytes in decimal notation

b'\xc3\xa4'
[195, 164]

In [18]:
bytes.decode(b, "utf-8") # convert sequence of bytes to character(s)

'ä'

## Creating strings
A string is a sequence of characters enclosed in single ('') or double ("") quotes, allowing for flexibility when dealing with quotation marks inside a string.

Strings can contain escape sequences like '\n' for a newline and '\t' for a tab.

Triple quotes (''' or """) are used to create multiline strings.

Concatenating strings with the '+' operator is less efficient for many strings. The 'join' method is recommended for efficiency.

String interpolation is a way to insert values into strings. It offers more readability and is available through various methods, including Python format strings, the format method, and f-strings.

Examples of string interpolation methods: % for Python format strings, format() method, and f-strings (f"...").

Format specifiers (e.g., %i, %f, :d, .1f) allow you to control the formatting of values within the string.

String interpolation is a matter of personal preference; commonly used methods are f-strings and the format method.

Overall, string interpolation provides a cleaner and more efficient way to embed values within strings.

In [19]:
print("One\tTwo\nThree\tFour")

One	Two
Three	Four

In [20]:
s="""A string
spanning over
several lines"""

In [21]:
a="first"
b="second"
print(a+b)
print(" ".join([a, b, b, a])) # More about the join method later

firstsecond
first second second first

In [22]:
print(str(1) + " plus " + str(3) + " is equal to " + str(4))
# slightly better
print(1, "plus", 3, "is equal to", 4)

1 plus 3 is equal to 4
1 plus 3 is equal to 4

In [23]:
print("%i plus %i is equal to %i" % (1, 3, 4)) # Format syntax

print("{} plus {} is equal to {}".format(1, 3, 4)) # Format method

print(f"{1} plus {3} is equal to {4}") # f-string

1 plus 3 is equal to 4
1 plus 3 is equal to 4
1 plus 3 is equal to 4

In [24]:
print("%.1f %.2f %.3f" % (1.6, 1.7, 1.8)) # Old style 

print("{:.1f} {:.2f} {:.3f}".format(1.6, 1.7, 1.8)) # newer style

print(f"{1.6:.1f} {1.7:.2f} {1.8:.3f}") # f-string

1.6 1.70 1.800
1.6 1.70 1.800
1.6 1.70 1.800

In [26]:
print("%s concatenated with %s produces %s" % ("water", "melon", "water"+"melon"))
print("{0} concatenated with {1} produces {0}{1}".format("water", "melon"))
print(f"{'water'} concatenated with {'melon'} produces {'water' + 'melon'}")

water concatenated with melon produces watermelon
water concatenated with melon produces watermelon
water concatenated with melon produces watermelon

## Expressions

Expressions:

An expression in Python is a piece of code that evaluates to a value. It combines values (literals or variables) with operators.

Values in expressions can be literals (e.g., numbers, strings) or variables.

Operators used in expressions include arithmetic operators (+, -, *, /), comparison operators (<, >, ==), function calls (e.g., cos(0)), indexing (e.g., mylist[1]), and attribute references (e.g., obj.attr).

Examples of expressions include mathematical calculations (e.g., 1+2, 7/(2+0.1), variable references (e.g., a), and logical expressions (e.g., c > 0 and c != 1).

Expressions are used to perform calculations, generate results, and can be part of statements or other expressions.

Expressions are fundamental building blocks in Python programming.

Statements:

Statements are commands in Python that perform some action or have an effect. They include variable assignments, function calls (not part of an expression), and control flow statements.

Variable assignments, like i = 5, assign a value to a variable. You can increment variables using i = i + 1 or use the shorthand i += 1.

Python lacks ++ and -- operators seen in some other languages.

Augmented assignment operators, such as +=, -= are available for the arithmetic operators, making operations like incrementing simpler.

Flow control statements like if-else, for loops, and while loops are used to control the flow of a program and execute code conditionally or iteratively.

Statements are essential for creating structured and meaningful programs.

Understanding the distinction between expressions and statements is important for writing Python code and controlling program execution. Expressions evaluate to values, while statements are commands that perform actions.

## For loop and While loop

A for loop is used to execute a block of statements a specific number of times or for each item in an iterable.

In a for loop, the variable (commonly named i or any name you choose) represents the current item from the iterable on each iteration.

You can use a for loop with a list, generator, or any iterable object to iterate through its elements.

The range() function generates a sequence of values from 0 to n-1, making it a common choice for simple iteration.

In Python, for loops are suitable for iterating through elements in an iterable, such as lists, dictionaries, strings, and more.

While loops are an alternative when you need to iterate based on a condition or until a specific condition is met, making them useful for cases like generating Fibonacci numbers within a limit.

Python provides a clean and concise way to work with for loops, making them a natural choice for many iteration tasks.

Iterables and generators are concepts that are closely related to the use of for loops, and they provide a way to work with sequences of data. These will be discussed in more detail in later lessons.

For loops are a powerful tool for iterating through sequences, making them a fundamental part of Python programming. Depending on the specific use case, you can choose between for loops and while loops to achieve your desired iteration behavior.

In [27]:
i = 1
while i * 1 < 1000:
    print("Square of", i, "is", i*i)
    i = i + 1
print("Finished printing all the squares below 1000.")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100
Square of 11 is 121
Square of 12 is 144
Square of 13 is 169
Square of 14 is 196
Square of 15 is 225
Square of 16 is 256
Square of 17 is 289
Square of 18 is 324
Square of 19 is 361
Square of 20 is 400
Square of 21 is 441
Square of 22 is 484
Square of 23 is 529
Square of 24 is 576
Square of 25 is 625
Square of 26 is 676
Square of 27 is 729
Square of 28 is 784
Square of 29 is 841
Square of 30 is 900
Square of 31 is 961
Square of 32 is 1024
Square of 33 is 1089
Square of 34 is 1156
Square of 35 is 1225
Square of 36 is 1296
Square of 37 is 1369
Square of 38 is 1444
Square of 39 is 1521
Square of 40 is 1600
Square of 41 is 1681
Square of 42 is 1764
Square of 43 is 1849
Square of 44 is 1936
Square of 45 is 2025
Square of 46 is 2116
Square of 47 is 2209
Square of 48 is 2304
Square of 49 is 2401
Square of 50 is 2500
Square of 51 is 2601
Square of 52 is 2704
Square of 53 is 2809
Square of 54 is 2916
Square of 55 is 3025
Square of 56 is 3136
Square of 57 is 3249
Square of 58 is 3364
Square of 59 is 3481
Square of 60 is 3600
Square of 61 is 3721
Square of 62 is 3844
Square of 63 is 3969
Square of 64 is 4096
Square of 65 is 4225
Square of 66 is 4356
Square of 67 is 4489
Square of 68 is 4624
Square of 69 is 4761
Square of 70 is 4900
Square of 71 is 5041
Square of 72 is 5184
Square of 73 is 5329
Square of 74 is 5476
Square of 75 is 5625
Square of 76 is 5776
Square of 77 is 5929
Square of 78 is 6084
Square of 79 is 6241
Square of 80 is 6400
Square of 81 is 6561
Square of 82 is 6724
Square of 83 is 6889
Square of 84 is 7056
Square of 85 is 7225
Square of 86 is 7396
Square of 87 is 7569
Square of 88 is 7744
Square of 89 is 7921
Square of 90 is 8100
Square of 91 is 8281
Square of 92 is 8464
Square of 93 is 8649
Square of 94 is 8836
Square of 95 is 9025
Square of 96 is 9216
Square of 97 is 9409
Square of 98 is 9604
Square of 99 is 9801
Square of 100 is 10000
Square of 101 is 10201
Square of 102 is 10404
Square of 103 is 10609
Square of 104 is 10816
Square of 105 is 11025
Square of 106 is 11236
Square of 107 is 11449
Square of 108 is 11664
Square of 109 is 11881
Square of 110 is 12100
Square of 111 is 12321
Square of 112 is 12544
Square of 113 is 12769
Square of 114 is 12996
Square of 115 is 13225
Square of 116 is 13456
Square of 117 is 13689
Square of 118 is 13924
Square of 119 is 14161
Square of 120 is 14400
Square of 121 is 14641
Square of 122 is 14884
Square of 123 is 15129
Square of 124 is 15376
Square of 125 is 15625
Square of 126 is 15876
Square of 127 is 16129
Square of 128 is 16384
Square of 129 is 16641
Square of 130 is 16900
Square of 131 is 17161
Square of 132 is 17424
Square of 133 is 17689
Square of 134 is 17956
Square of 135 is 18225
Square of 136 is 18496
Square of 137 is 18769
Square of 138 is 19044
Square of 139 is 19321
Square of 140 is 19600
Square of 141 is 19881
Square of 142 is 20164
Square of 143 is 20449
Square of 144 is 20736
Square of 145 is 21025
Square of 146 is 21316
Square of 147 is 21609
Square of 148 is 21904
Square of 149 is 22201
Square of 150 is 22500
Square of 151 is 22801
Square of 152 is 23104
Square of 153 is 23409
Square of 154 is 23716
Square of 155 is 24025
Square of 156 is 24336
Square of 157 is 24649
Square of 158 is 24964
Square of 159 is 25281
Square of 160 is 25600
Square of 161 is 25921
Square of 162 is 26244
Square of 163 is 26569
Square of 164 is 26896
Square of 165 is 27225
Square of 166 is 27556
Square of 167 is 27889
Square of 168 is 28224
Square of 169 is 28561
Square of 170 is 28900
Square of 171 is 29241
Square of 172 is 29584
Square of 173 is 29929
Square of 174 is 30276
Square of 175 is 30625
Square of 176 is 30976
Square of 177 is 31329
Square of 178 is 31684
Square of 179 is 32041
Square of 180 is 32400
Square of 181 is 32761
Square of 182 is 33124
Square of 183 is 33489
Square of 184 is 33856
Square of 185 is 34225
Square of 186 is 34596
Square of 187 is 34969
Square of 188 is 35344
Square of 189 is 35721
Square of 190 is 36100
Square of 191 is 36481
Square of 192 is 36864
Square of 193 is 37249
Square of 194 is 37636
Square of 195 is 38025
Square of 196 is 38416
Square of 197 is 38809
Square of 198 is 39204
Square of 199 is 39601
Square of 200 is 40000
Square of 201 is 40401
Square of 202 is 40804
Square of 203 is 41209
Square of 204 is 41616
Square of 205 is 42025
Square of 206 is 42436
Square of 207 is 42849
Square of 208 is 43264
Square of 209 is 43681
Square of 210 is 44100
Square of 211 is 44521
Square of 212 is 44944
Square of 213 is 45369
Square of 214 is 45796
Square of 215 is 46225
Square of 216 is 46656
Square of 217 is 47089
Square of 218 is 47524
Square of 219 is 47961
Square of 220 is 48400
Square of 221 is 48841
Square of 222 is 49284
Square of 223 is 49729
Square of 224 is 50176
Square of 225 is 50625
Square of 226 is 51076
Square of 227 is 51529
Square of 228 is 51984
Square of 229 is 52441
Square of 230 is 52900
Square of 231 is 53361
Square of 232 is 53824
Square of 233 is 54289
Square of 234 is 54756
Square of 235 is 55225
Square of 236 is 55696
Square of 237 is 56169
Square of 238 is 56644
Square of 239 is 57121
Square of 240 is 57600
Square of 241 is 58081
Square of 242 is 58564
Square of 243 is 59049
Square of 244 is 59536
Square of 245 is 60025
Square of 246 is 60516
Square of 247 is 61009
Square of 248 is 61504
Square of 249 is 62001
Square of 250 is 62500
Square of 251 is 63001
Square of 252 is 63504
Square of 253 is 64009
Square of 254 is 64516
Square of 255 is 65025
Square of 256 is 65536
Square of 257 is 66049
Square of 258 is 66564
Square of 259 is 67081
Square of 260 is 67600
Square of 261 is 68121
Square of 262 is 68644
Square of 263 is 69169
Square of 264 is 69696
Square of 265 is 70225
Square of 266 is 70756
Square of 267 is 71289
Square of 268 is 71824
Square of 269 is 72361
Square of 270 is 72900
Square of 271 is 73441
Square of 272 is 73984
Square of 273 is 74529
Square of 274 is 75076
Square of 275 is 75625
Square of 276 is 76176
Square of 277 is 76729
Square of 278 is 77284
Square of 279 is 77841
Square of 280 is 78400
Square of 281 is 78961
Square of 282 is 79524
Square of 283 is 80089
Square of 284 is 80656
Square of 285 is 81225
Square of 286 is 81796
Square of 287 is 82369
Square of 288 is 82944
Square of 289 is 83521
Square of 290 is 84100
Square of 291 is 84681
Square of 292 is 85264
Square of 293 is 85849
Square of 294 is 86436
Square of 295 is 87025
Square of 296 is 87616
Square of 297 is 88209
Square of 298 is 88804
Square of 299 is 89401
Square of 300 is 90000
Square of 301 is 90601
Square of 302 is 91204
Square of 303 is 91809
Square of 304 is 92416
Square of 305 is 93025
Square of 306 is 93636
Square of 307 is 94249
Square of 308 is 94864
Square of 309 is 95481
Square of 310 is 96100
Square of 311 is 96721
Square of 312 is 97344
Square of 313 is 97969
Square of 314 is 98596
Square of 315 is 99225
Square of 316 is 99856
Square of 317 is 100489
Square of 318 is 101124
Square of 319 is 101761
Square of 320 is 102400
Square of 321 is 103041
Square of 322 is 103684
Square of 323 is 104329
Square of 324 is 104976
Square of 325 is 105625
Square of 326 is 106276
Square of 327 is 106929
Square of 328 is 107584
Square of 329 is 108241
Square of 330 is 108900
Square of 331 is 109561
Square of 332 is 110224
Square of 333 is 110889
Square of 334 is 111556
Square of 335 is 112225
Square of 336 is 112896
Square of 337 is 113569
Square of 338 is 114244
Square of 339 is 114921
Square of 340 is 115600
Square of 341 is 116281
Square of 342 is 116964
Square of 343 is 117649
Square of 344 is 118336
Square of 345 is 119025
Square of 346 is 119716
Square of 347 is 120409
Square of 348 is 121104
Square of 349 is 121801
Square of 350 is 122500
Square of 351 is 123201
Square of 352 is 123904
Square of 353 is 124609
Square of 354 is 125316
Square of 355 is 126025
Square of 356 is 126736
Square of 357 is 127449
Square of 358 is 128164
Square of 359 is 128881
Square of 360 is 129600
Square of 361 is 130321
Square of 362 is 131044
Square of 363 is 131769
Square of 364 is 132496
Square of 365 is 133225
Square of 366 is 133956
Square of 367 is 134689
Square of 368 is 135424
Square of 369 is 136161
Square of 370 is 136900
Square of 371 is 137641
Square of 372 is 138384
Square of 373 is 139129
Square of 374 is 139876
Square of 375 is 140625
Square of 376 is 141376
Square of 377 is 142129
Square of 378 is 142884
Square of 379 is 143641
Square of 380 is 144400
Square of 381 is 145161
Square of 382 is 145924
Square of 383 is 146689
Square of 384 is 147456
Square of 385 is 148225
Square of 386 is 148996
Square of 387 is 149769
Square of 388 is 150544
Square of 389 is 151321
Square of 390 is 152100
Square of 391 is 152881
Square of 392 is 153664
Square of 393 is 154449
Square of 394 is 155236
Square of 395 is 156025
Square of 396 is 156816
Square of 397 is 157609
Square of 398 is 158404
Square of 399 is 159201
Square of 400 is 160000
Square of 401 is 160801
Square of 402 is 161604
Square of 403 is 162409
Square of 404 is 163216
Square of 405 is 164025
Square of 406 is 164836
Square of 407 is 165649
Square of 408 is 166464
Square of 409 is 167281
Square of 410 is 168100
Square of 411 is 168921
Square of 412 is 169744
Square of 413 is 170569
Square of 414 is 171396
Square of 415 is 172225
Square of 416 is 173056
Square of 417 is 173889
Square of 418 is 174724
Square of 419 is 175561
Square of 420 is 176400
Square of 421 is 177241
Square of 422 is 178084
Square of 423 is 178929
Square of 424 is 179776
Square of 425 is 180625
Square of 426 is 181476
Square of 427 is 182329
Square of 428 is 183184
Square of 429 is 184041
Square of 430 is 184900
Square of 431 is 185761
Square of 432 is 186624
Square of 433 is 187489
Square of 434 is 188356
Square of 435 is 189225
Square of 436 is 190096
Square of 437 is 190969
Square of 438 is 191844
Square of 439 is 192721
Square of 440 is 193600
Square of 441 is 194481
Square of 442 is 195364
Square of 443 is 196249
Square of 444 is 197136
Square of 445 is 198025
Square of 446 is 198916
Square of 447 is 199809
Square of 448 is 200704
Square of 449 is 201601
Square of 450 is 202500
Square of 451 is 203401
Square of 452 is 204304
Square of 453 is 205209
Square of 454 is 206116
Square of 455 is 207025
Square of 456 is 207936
Square of 457 is 208849
Square of 458 is 209764
Square of 459 is 210681
Square of 460 is 211600
Square of 461 is 212521
Square of 462 is 213444
Square of 463 is 214369
Square of 464 is 215296
Square of 465 is 216225
Square of 466 is 217156
Square of 467 is 218089
Square of 468 is 219024
Square of 469 is 219961
Square of 470 is 220900
Square of 471 is 221841
Square of 472 is 222784
Square of 473 is 223729
Square of 474 is 224676
Square of 475 is 225625
Square of 476 is 226576
Square of 477 is 227529
Square of 478 is 228484
Square of 479 is 229441
Square of 480 is 230400
Square of 481 is 231361
Square of 482 is 232324
Square of 483 is 233289
Square of 484 is 234256
Square of 485 is 235225
Square of 486 is 236196
Square of 487 is 237169
Square of 488 is 238144
Square of 489 is 239121
Square of 490 is 240100
Square of 491 is 241081
Square of 492 is 242064
Square of 493 is 243049
Square of 494 is 244036
Square of 495 is 245025
Square of 496 is 246016
Square of 497 is 247009
Square of 498 is 248004
Square of 499 is 249001
Square of 500 is 250000
Square of 501 is 251001
Square of 502 is 252004
Square of 503 is 253009
Square of 504 is 254016
Square of 505 is 255025
Square of 506 is 256036
Square of 507 is 257049
Square of 508 is 258064
Square of 509 is 259081
Square of 510 is 260100
Square of 511 is 261121
Square of 512 is 262144
Square of 513 is 263169
Square of 514 is 264196
Square of 515 is 265225
Square of 516 is 266256
Square of 517 is 267289
Square of 518 is 268324
Square of 519 is 269361
Square of 520 is 270400
Square of 521 is 271441
Square of 522 is 272484
Square of 523 is 273529
Square of 524 is 274576
Square of 525 is 275625
Square of 526 is 276676
Square of 527 is 277729
Square of 528 is 278784
Square of 529 is 279841
Square of 530 is 280900
Square of 531 is 281961
Square of 532 is 283024
Square of 533 is 284089
Square of 534 is 285156
Square of 535 is 286225
Square of 536 is 287296
Square of 537 is 288369
Square of 538 is 289444
Square of 539 is 290521
Square of 540 is 291600
Square of 541 is 292681
Square of 542 is 293764
Square of 543 is 294849
Square of 544 is 295936
Square of 545 is 297025
Square of 546 is 298116
Square of 547 is 299209
Square of 548 is 300304
Square of 549 is 301401
Square of 550 is 302500
Square of 551 is 303601
Square of 552 is 304704
Square of 553 is 305809
Square of 554 is 306916
Square of 555 is 308025
Square of 556 is 309136
Square of 557 is 310249
Square of 558 is 311364
Square of 559 is 312481
Square of 560 is 313600
Square of 561 is 314721
Square of 562 is 315844
Square of 563 is 316969
Square of 564 is 318096
Square of 565 is 319225
Square of 566 is 320356
Square of 567 is 321489
Square of 568 is 322624
Square of 569 is 323761
Square of 570 is 324900
Square of 571 is 326041
Square of 572 is 327184
Square of 573 is 328329
Square of 574 is 329476
Square of 575 is 330625
Square of 576 is 331776
Square of 577 is 332929
Square of 578 is 334084
Square of 579 is 335241
Square of 580 is 336400
Square of 581 is 337561
Square of 582 is 338724
Square of 583 is 339889
Square of 584 is 341056
Square of 585 is 342225
Square of 586 is 343396
Square of 587 is 344569
Square of 588 is 345744
Square of 589 is 346921
Square of 590 is 348100
Square of 591 is 349281
Square of 592 is 350464
Square of 593 is 351649
Square of 594 is 352836
Square of 595 is 354025
Square of 596 is 355216
Square of 597 is 356409
Square of 598 is 357604
Square of 599 is 358801
Square of 600 is 360000
Square of 601 is 361201
Square of 602 is 362404
Square of 603 is 363609
Square of 604 is 364816
Square of 605 is 366025
Square of 606 is 367236
Square of 607 is 368449
Square of 608 is 369664
Square of 609 is 370881
Square of 610 is 372100
Square of 611 is 373321
Square of 612 is 374544
Square of 613 is 375769
Square of 614 is 376996
Square of 615 is 378225
Square of 616 is 379456
Square of 617 is 380689
Square of 618 is 381924
Square of 619 is 383161
Square of 620 is 384400
Square of 621 is 385641
Square of 622 is 386884
Square of 623 is 388129
Square of 624 is 389376
Square of 625 is 390625
Square of 626 is 391876
Square of 627 is 393129
Square of 628 is 394384
Square of 629 is 395641
Square of 630 is 396900
Square of 631 is 398161
Square of 632 is 399424
Square of 633 is 400689
Square of 634 is 401956
Square of 635 is 403225
Square of 636 is 404496
Square of 637 is 405769
Square of 638 is 407044
Square of 639 is 408321
Square of 640 is 409600
Square of 641 is 410881
Square of 642 is 412164
Square of 643 is 413449
Square of 644 is 414736
Square of 645 is 416025
Square of 646 is 417316
Square of 647 is 418609
Square of 648 is 419904
Square of 649 is 421201
Square of 650 is 422500
Square of 651 is 423801
Square of 652 is 425104
Square of 653 is 426409
Square of 654 is 427716
Square of 655 is 429025
Square of 656 is 430336
Square of 657 is 431649
Square of 658 is 432964
Square of 659 is 434281
Square of 660 is 435600
Square of 661 is 436921
Square of 662 is 438244
Square of 663 is 439569
Square of 664 is 440896
Square of 665 is 442225
Square of 666 is 443556
Square of 667 is 444889
Square of 668 is 446224
Square of 669 is 447561
Square of 670 is 448900
Square of 671 is 450241
Square of 672 is 451584
Square of 673 is 452929
Square of 674 is 454276
Square of 675 is 455625
Square of 676 is 456976
Square of 677 is 458329
Square of 678 is 459684
Square of 679 is 461041
Square of 680 is 462400
Square of 681 is 463761
Square of 682 is 465124
Square of 683 is 466489
Square of 684 is 467856
Square of 685 is 469225
Square of 686 is 470596
Square of 687 is 471969
Square of 688 is 473344
Square of 689 is 474721
Square of 690 is 476100
Square of 691 is 477481
Square of 692 is 478864
Square of 693 is 480249
Square of 694 is 481636
Square of 695 is 483025
Square of 696 is 484416
Square of 697 is 485809
Square of 698 is 487204
Square of 699 is 488601
Square of 700 is 490000
Square of 701 is 491401
Square of 702 is 492804
Square of 703 is 494209
Square of 704 is 495616
Square of 705 is 497025
Square of 706 is 498436
Square of 707 is 499849
Square of 708 is 501264
Square of 709 is 502681
Square of 710 is 504100
Square of 711 is 505521
Square of 712 is 506944
Square of 713 is 508369
Square of 714 is 509796
Square of 715 is 511225
Square of 716 is 512656
Square of 717 is 514089
Square of 718 is 515524
Square of 719 is 516961
Square of 720 is 518400
Square of 721 is 519841
Square of 722 is 521284
Square of 723 is 522729
Square of 724 is 524176
Square of 725 is 525625
Square of 726 is 527076
Square of 727 is 528529
Square of 728 is 529984
Square of 729 is 531441
Square of 730 is 532900
Square of 731 is 534361
Square of 732 is 535824
Square of 733 is 537289
Square of 734 is 538756
Square of 735 is 540225
Square of 736 is 541696
Square of 737 is 543169
Square of 738 is 544644
Square of 739 is 546121
Square of 740 is 547600
Square of 741 is 549081
Square of 742 is 550564
Square of 743 is 552049
Square of 744 is 553536
Square of 745 is 555025
Square of 746 is 556516
Square of 747 is 558009
Square of 748 is 559504
Square of 749 is 561001
Square of 750 is 562500
Square of 751 is 564001
Square of 752 is 565504
Square of 753 is 567009
Square of 754 is 568516
Square of 755 is 570025
Square of 756 is 571536
Square of 757 is 573049
Square of 758 is 574564
Square of 759 is 576081
Square of 760 is 577600
Square of 761 is 579121
Square of 762 is 580644
Square of 763 is 582169
Square of 764 is 583696
Square of 765 is 585225
Square of 766 is 586756
Square of 767 is 588289
Square of 768 is 589824
Square of 769 is 591361
Square of 770 is 592900
Square of 771 is 594441
Square of 772 is 595984
Square of 773 is 597529
Square of 774 is 599076
Square of 775 is 600625
Square of 776 is 602176
Square of 777 is 603729
Square of 778 is 605284
Square of 779 is 606841
Square of 780 is 608400
Square of 781 is 609961
Square of 782 is 611524
Square of 783 is 613089
Square of 784 is 614656
Square of 785 is 616225
Square of 786 is 617796
Square of 787 is 619369
Square of 788 is 620944
Square of 789 is 622521
Square of 790 is 624100
Square of 791 is 625681
Square of 792 is 627264
Square of 793 is 628849
Square of 794 is 630436
Square of 795 is 632025
Square of 796 is 633616
Square of 797 is 635209
Square of 798 is 636804
Square of 799 is 638401
Square of 800 is 640000
Square of 801 is 641601
Square of 802 is 643204
Square of 803 is 644809
Square of 804 is 646416
Square of 805 is 648025
Square of 806 is 649636
Square of 807 is 651249
Square of 808 is 652864
Square of 809 is 654481
Square of 810 is 656100
Square of 811 is 657721
Square of 812 is 659344
Square of 813 is 660969
Square of 814 is 662596
Square of 815 is 664225
Square of 816 is 665856
Square of 817 is 667489
Square of 818 is 669124
Square of 819 is 670761
Square of 820 is 672400
Square of 821 is 674041
Square of 822 is 675684
Square of 823 is 677329
Square of 824 is 678976
Square of 825 is 680625
Square of 826 is 682276
Square of 827 is 683929
Square of 828 is 685584
Square of 829 is 687241
Square of 830 is 688900
Square of 831 is 690561
Square of 832 is 692224
Square of 833 is 693889
Square of 834 is 695556
Square of 835 is 697225
Square of 836 is 698896
Square of 837 is 700569
Square of 838 is 702244
Square of 839 is 703921
Square of 840 is 705600
Square of 841 is 707281
Square of 842 is 708964
Square of 843 is 710649
Square of 844 is 712336
Square of 845 is 714025
Square of 846 is 715716
Square of 847 is 717409
Square of 848 is 719104
Square of 849 is 720801
Square of 850 is 722500
Square of 851 is 724201
Square of 852 is 725904
Square of 853 is 727609
Square of 854 is 729316
Square of 855 is 731025
Square of 856 is 732736

In [29]:
s = 0
for i in [0,1,2,3,4,5,6,7,8,9]:
    s = s + i
print("The sum is", s)

The sum is 45

## Exercise 1.4 (multiplication table)

- Create a multiplication table using two nested for loops, where the numbers are aligned with a field width of four.
- Each entry in the table represents the product of the row and column number.

- Note:
- print("text", end="")
- print("more text")

In [34]:
for rowNumber in range(1, 11):
    for columnNumber in range(1, 11):
        product = rowNumber * columnNumber
        # formatting the product variable with a width of four characters
        print(f"{product:4}", end="")

    print()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100

## Descision making with the if statment and loop
1. Using the if statement:

In the first example, the user is asked to input an integer.
The code checks whether the input integer x is greater than or equal to 0.
If x is non-negative, it assigns x to the variable a. If x is negative, it assigns the absolute value of x to a.
Finally, it prints the absolute value of x.
2. The general form of an if-else statement:

This section provides a general structure for if-else statements, which allows you to handle multiple conditions and execute different code blocks based on those conditions.
3. Another example of if-else statement:

In this example, the user is asked to input a floating-point number.
The code checks whether the input number c is positive, negative, or zero, and prints a corresponding message.
4. Breaking the loop with break:

This code demonstrates how to use the break statement to exit a loop when a specific condition is met.
It iterates through a list l and breaks out of the loop as soon as it encounters the first negative element.
The code then prints the first negative element found.
5. Continuing the loop with continue:

This example shows how to use the continue statement to skip the current iteration of a loop and move to the next one.
It iterates through the list l and, when it encounters a negative number, it continues to the next iteration.
For non-negative numbers, it calculates and prints the square root and natural logarithm.
These code snippets provide a practical understanding of how to use if-else statements and control flow in Python, including the use of break and continue in loops.

In [35]:
x = input("Give an integer: ")
x = int(x)
if x >= 0:
    z=x
else:
    a=-x
print("The absolute value of %i is %i" % (x, a))

The absolute value of -1 is 1

In [36]:
# second if statment example
c=float(input("Give a number: "))
if c > 0:
    print("c is positive")
elif c < 0:
    print("c is negative")
else:
    print("c is zero")

c is positive

In [37]:
# for loop in array
l=[1, 3, 65, 3, -1, 56, -10]
for x in l:
    if x < 0:
        break

print("The first negative list element was", x)

The first negative list element was -1

In [39]:
from math import sqrt, log
l = [1, 3, 65, 3, -1, 56, -10]
for x in l:
    if x < 0:
        continue
    print(f"Square root of {x} is {sqrt(x):.3f}")
    print(f"Natural logarithm of {x} is {log(x):.4f}")

Square root of 1 is 1.000
Natural logarithm of 1 is 0.0000
Square root of 3 is 1.732
Natural logarithm of 3 is 1.0986
Square root of 65 is 8.062
Natural logarithm of 65 is 4.1744
Square root of 3 is 1.732
Natural logarithm of 3 is 1.0986
Square root of 56 is 7.483
Natural logarithm of 56 is 4.0254

## Exercise 1.5(two dice)
- Let us consider throwing two dice. 
(A dice can give a value between 1 and 6.) 
- Use two nested for loops in the main function to iterate through all possible combinations the pair of dice can give. 
- There are 36 possible combinations. 
- Print all those combinations as (ordered) pairs that sum to 5. 
- For example, your printout should include the pair (2,3). Print one pair per line.

In [40]:
# print dice sum pair equal to 5
target = 5
for firstDie in range(1, 7):
    for secondDie in range(1, 7):
        if firstDie + secondDie == target:
            print(f"({firstDie}, {secondDie})")

(1, 4)
(2, 3)
(3, 2)
(4, 1)

## Functions
- Defining a Function:

Functions are defined using the def statement followed by the function name, parameter list, and a colon.

A docstring enclosed in triple quotes can be used to provide documentation for the function's purpose and usage.

- Function Parameters:

Function parameters are specified within the parentheses and may include zero or more parameters.

In the example, you can see a function named double(x) that takes one parameter, x.

Parameters can have default values. In the example, you see the degree=2 in the length function.

- Function Execution:

Functions are executed when they are called. In the examples, you can see function calls like double(4) and sum_of_squares([-2, 4, 5]).

Functions can return values using the return statement. In the double function, it returns x*2.

Argument Packing and Unpacking:

You can use * to pack arguments into a tuple, as seen in the sum_of_squares function. It allows you to pass an arbitrary number of positional arguments.

Argument unpacking is done using the * when calling a function, as shown with sum_of_squares(*lst).

- Named Arguments and Default Values:

Functions can have named arguments, which allow you to pass values in any order. Named arguments must come after positional arguments.

You can specify default parameter values in the function definition. Users can override these defaults when calling the function.

- Documentation:

Docstrings are used to document a function's purpose and usage, and you can access them using function.__doc__ or help(function).
Examples:

The examples provided illustrate different aspects of function definition, usage, and parameter handling.
Understanding how to define functions and work with their parameters is fundamental in Python programming. It allows you to create reusable and organized code for various tasks.

In [1]:
def double(x):
    "This function multiplies its argument by two."
    return x * 2
print(double(4), double(1.2), double("abc")) # It even happens to work for strings!

8 2.4 abcabc

In [3]:
print("The docstring is:", double.__doc__)
help(double) # Another way to access the docstring

The docstring is: This function multiplies its argument by two.
Help on function double in module __main__:

double(x)
    This function multiplies its argument by two.

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [6]:
def sum_of_squares(a, b):
    "Computes the sum of arguments squared"
    return a**2 + b**2
print(sum_of_squares(3, 4))

25

In [7]:
def sum_of_square_list(lst):
    "Computes the sum of squares of elements in the list given as parameter"
    s=0
    for x in lst:
        s += x**2
    return s
print(sum_of_square_list([-2]))
print(sum_of_square_list([-2,4,5]))

4
45

In [11]:
def sum_of_squares_pack(*t):
    "Computes the sum of squares of arbitrary number of arguments"
    s=0
    for x in t:
        s += x**2
    return s
print(sum_of_squares_pack(-2))
print(sum_of_squares_pack(-2,4,5))

4
45

In [12]:
lst = [1,5,8]
print("With list unpacked as arguments to the functions:", sum_of_squares_pack(*lst))

With list unpacked as arguments to the functions: 90

In [13]:
def named(a, b, c):
    print("First:", a, "Second:", b, "Third:", c)
named(5, c=7, b=8)

First: 5 Second: 8 Third: 7

In [15]:
print(1, 2, 3, end=' |', sep=' _*_ ')
print("first", "second", "third", end=' |', sep=' -*- ')

1 _*_ 2 _*_ 3 |first -*- second -*- third |

In [16]:
def length(*t, degree=2):
    """
    Computes the length of the vector given as parameter. 
    By default, it computes the Euclidean distance (degree==2)
    """
    s=0
    for x in t:
        s += abs(x)**degree
    return s**(1/degree)
print(length(-4, 3))
print(length(-4, 3, degree=3))

5.0
4.497941445275415

## Visibility
- Variable Scope:

Functions create local scopes where variables are local and not accessible outside.
Global variables are accessible from both local and global scopes.
- Variable Visibility:

Local variables can shadow global variables of the same name.
Global variables can be read in local scopes.
- Modifying Global Variables:

To modify a global variable from within a function, use the global statement.
- Nested Functions:

Python allows defining functions within other functions, creating nested scopes.
Inner functions can access variables from outer functions, but they can shadow them as well.
- Global and Nonlocal Statements:

The global statement rebinds a global variable.
The nonlocal statement refers to the nearest outer variable (not global) in nested functions.
Understanding variable scope and using global and nonlocal statements is important for proper variable management in Python

In [17]:
i=2 # global variable
def f():
    i=3 # this creates a new variable, it does not rebind the global i
    print(i)    # This will print 3 
f()
print(i)        # This will print 2

3
2

In [18]:
i = 2
def f():
    global i 
    i = 5 # rebhind the global i variable
    print(i) # This will print 5
f()
print(i)    # This will print 5

5
5

In [19]:
def f(): # outer function
    b=2
    def g(): # inner function
        #nonlocal b # Without this nonlocal statement,
        b=3 # this will create a new local variable
        print(b)

    g()
    print(b)
f()

3
2

## Exercise 1.6(triple square)
Write two functions: 
triple and square. Function triple multiplies its parameter by three. 
Function square raises its parameter to the power of two. 
For example, we have equalities triple(5)==15 and square(5)==25.

- Part 1.
In the main function write a for loop that iterates through values 1 to 10, and for each value prints its triple and its square. The output should be as follows:

- triple(1)==3 square(1)==1
- triple(2)==6 square(2)==4
...
- Part 2.
Now modify this for loop so that it stops iteration when the square of a value is larger than the triple of the value, without printing anything in the last iteration.

Note that the test cases check that both functions triple and square are called exactly once per iteration.

In [28]:
def triple(number):
    return number * 3

def square(number):
    return number ** 2

def main():
    triple_product =0
    square_product = 0
    for number in range(1, 11):
        triple_product = triple(number)
        square_product = square(number)
        if square_product > triple_product:
            break
        print(f"triple({number}) == {triple_product} square({number}) == {square_product}")
main()

triple(1) == 3 square(1) == 1
triple(2) == 6 square(2) == 4
triple(3) == 9 square(3) == 9

## Exercise 1.7 (dareas of shapes)

Create a program that can compute the areas of three shapes, triangles, rectangles and circles, when their dimensions are given.

An endless loop should ask for which shape you want the area be calculated. An empty string as input will exit the loop. If the user gives a string that is none of the given shapes, the message “Unknown shape!” should be printed. Then it will ask for dimensions for that particular shape. When all the necessary dimensions are given, it prints the area, and starts the loop all over again. Use format specifier f for the area.

What happens if you give incorrect dimensions, like giving string "aa" as radius? You don't have to check for errors in the input.

In [8]:
def triangle_area(base, height):
    return (base * height) * (1/2)

def rectangle_area(length, height):
    return length * height;

def circle_area(radius):
    import math 
    return math.pi * (radius ** 2)
area = 0
while True :
    user_input = input("Choose a shape (triangle, rectangle, circle): ")
    area = 0
    if user_input == "":
        break
    elif user_input == "triangle":
        base = float(input("Give base of the triangle: "))
        height = float(input("Give height of the triangle: "))
        area = triangle_area(base, height)
    elif user_input == "rectangle":
        length = float(input("Give width of the rectangle: "))
        width = float(input("Give height of the rectangle: "))
        area = rectangle_area(length, width)
    elif user_input == "circle":
        radius = float(input("Give radius of the circle: "))
        area = circle_area(radius)
    else:    
        print("Unknown shape!")
    if area > 0:
        print(f"The area is {area:.6f}")

The area is 80.000000

## Main Data structures:

- Python's main data structures include strings, lists, tuples, dictionaries, and sets.
### Lists:

- Lists are flexible containers for storing an arbitrary number of elements, even zero.
- Elements are stored in sequential order, separated by commas, and enclosed in square brackets: [2, 100, "hello", 1.0].
- Lists can contain elements of different types.
### Tuples:

- Tuples are fixed-length, immutable, and ordered containers.
- Elements in tuples are separated by commas and enclosed in parentheses: (3,), (1,3), (1, "hello", 1.0).
- Tuples can also contain elements of different types.
### Sequences:

- Lists, tuples, and strings are referred to as sequences.
- Common characteristics among sequences include:
    - Length can be queried using len(sequence).
    - min() and max() functions find the minimum and maximum elements.
    - sum() adds all numeric elements together.
    - Sequences can be concatenated using the + operator.
    - Sequences can be repeated using the * operator (e.g., "hi" * 3 == "hihihi").
### Indexing and Slicing:

- Sequences are ordered and allow access to elements through indexing.
- Indexing starts from 0, and negative integers index from the end.
    - E.g., "abcd"[2] == "c", -1 refers to the last element.
- Slicing allows you to extract a subsequence using the range [start:stop].
    - The stop index is exclusive.
    - Generic slicing: sequence[start:stop:step].
    - Default values: start=0, stop=len(sequence), step=1.
    - For example, "abcde"[1:] == "bcde" and [0,1,2,3,4,5,6,7,8,9][::3] returns [0, 3, 6, 9].
    Understanding these data structures and their common operations is essential for effective Python programming.

## Exercise 1.8 (Solve quadratic)
Formula:
ax^2 + bx + c = 0

Write a function solve_quadratic, that returns both solutions of a generic quadratic as a pair (2-tuple) when the coefficients are given as parameters. It should work like this:

print(solve_quadratic(1,-3,2))
(2.0,1.0)
print(solve_quadratic(1,2,1))
(-1.0,-1.0)

You may want to use the math.sqrt function from the math module in your solution. Test that your function works in the main function!

In [9]:
def solve_quadratic(a, b, c):
    import math
    plus_value = 0
    subtract_value = 0
    denominator = (2 * a)
    result = (plus_value, subtract_value)
    sqrt_value = math.sqrt(b ** 2 - (4*a*c))
    b *= -1
    plus_value = (b + sqrt_value) / denominator
    subtract_value = (b - sqrt_value) / denominator

    result = (plus_value, subtract_value)
    return result
print(solve_quadratic(1, -3, 2))

(2.0, 1.0)

## Modifying Lists:

- Lists can be modified by assigning values to elements using indexing or slicing. For example, L[2] = 10 changes the third element of the list.

- You can assign a list to a slice to modify a portion of the list. For instance, L[1:3] = [4] replaces elements at positions 1 and 2 with the value 4.

- Lists can also be modified using list methods like append, extend, insert, remove, pop, reverse, and sort.

### Generating Numerical Sequences:

- The range function is used to generate numerical sequences automatically. It creates a sequence of numbers from 0 up to, but not including, the specified end value. For example, range(7) generates the sequence [0, 1, 2, 3, 4, 5, 6].

- The result of the range function is not a list but a sequence, similar to slices. You can access its elements or convert it to a list using the list constructor.

- The range function can take optional parameters to specify the start, end, and step of the sequence. For instance, range(0, 7, 2) generates the sequence [0, 2, 4, 6].

### Sorting Sequences:

- Python provides two ways to sort sequences. The sort method modifies the original list in-place, while the sorted function returns a new sorted list and leaves the original unchanged.

- The sorted function can take the reverse=True parameter to sort the sequence in descending order.

Understanding these concepts is essential for manipulating lists and sequences efficiently in Python.

## Exercise 1.9 (merge)

- Define a function named "merge" that takes two sorted lists, L1 and L2, as parameters.

- Initialize an empty list, "result," to store the merged list.

- Create two variables, "i" and "j," and set them to 0. These variables will be used to keep track of the current positions in L1 and L2, respectively.

- Create a while loop that continues as long as "i" is less than the length of L1 and "j" is less than the length of L2. This loop will help merge the elements from L1 and L2.

- Inside the loop, compare the elements at L1[i] and L2[j].

- Append the smaller of the two elements to the "result" list and increment the corresponding index (i or j).

- After exiting the while loop, there may be remaining elements in either L1 or L2. Check if "i" is less than the length of L1 or "j" is less than the length of L2. If either condition is true, it means there are remaining elements in one of the lists.

- If there are remaining elements in L1, extend the "result" list with the remaining elements in L1 starting from index "i."

- If there are remaining elements in L2, extend the "result" list with the remaining elements in L2 starting from index "j."

- Return the "result" list, which is now a sorted list containing all the elements from L1 and L2.

- In the main function, create two sorted lists, L1 and L2, using the "sorted" function or by manually sorting them.

- Call the "merge" function with L1 and L2 as arguments, and store the returned merged list in a variable.

- Verify that the merged list is sorted and has a length equal to the sum of the lengths of L1 and L2.

- Test the "merge" function with a couple of example inputs to ensure it works correctly.

In [13]:
def merge(L1, L2):
    result = []
    i = 0
    j = 0
    while i < len(L1) and j < len(L2):
        # merge data from L1 to L2
        if L1[i] < L2[j]:
            result.append(L1[i])
            i += 1
        else:
            result.append(L2[j])
            j += 1
    if i < len(L1):
        result.extend(L1[i:])
    elif j < len(L2):
        result.extend(L2[j:])
         
    return result
def main():
    L1 = [2,3,7,8]
    L2 = [9,18,4,6]
    L1.sort()
    L2.sort()
    L = merge(L1, L2)
    print(L)
    if len(L) == len(L1) + len(L2):
        print("sorted")
    else:
        print("not sorted")
main()

[2, 3, 4, 6, 7, 8, 9, 18]
sorted

## Exercise 1.10 (detect ranges)

Create a function named detect_ranges that gets a list of integers as a parameter. The function should then sort this list, and transform the list into another list where pairs are used for all the detected intervals. So 3,4,5,6 is replaced by the pair (3,7). Numbers that are not part of any interval result just single numbers. The resulting list consists of these numbers and pairs, separated by commas. An example of how this function works:

print(detect_ranges([2,5,4,8,12,6,7,10,13]))
[2,(4,9),10,(12,14)]
Note that the second element of the pair does not belong to the range. This is consistent with the way Python's range function works. You may assume that no element in the input list appears multiple times.

In [5]:
def detect_ranges(L):
    # sort the list
    # 2, 4, 5, 6, 7, 8, 10, 12, 13
    nums = sorted(L)
    start = end = nums[0]
    result = []
    # check the range of sorted array
    for num in nums[1:]:
        if num == end + 1:
            end = num
        else:
            # detect if we are getting a single digit
            if start == end:
                result.append(start)
            else: # detect if we are in a range
                result.append((start, end + 1)) 
            start = end = num
    
    # if we have a single digit without range then append that
    if start == end:
        result.append(start)
    else: # if we have a final range append that in a tuple form
        result.append((start, end + 1))
    return result 

print(detect_ranges([2,5,4,8,12,6,7,10,13]))

[2, (4, 9), 10, (12, 14)]

## Ziping sequences
The zip function combines two (or more) sequences into one sequence. If, for example, two sequences are zipped together, the resulting sequence contains pairs. In general, if n sequences are zipped together, the elements of the resulting sequence contains n-tuples.

In [6]:
L1 = [1, 2, 3]
L2 = ["first", "second", "third"]
print(zip(L1, L2)) # Note that zip does not return a list, like range
print(list(zip(L1, L2))) # Convert to a list

<zip object at 0x7fa0f40f0e80>
[(1, 'first'), (2, 'second'), (3, 'third')]

In [9]:
days = "Monday Tuesday Wednesday Thursday Friday Saturday Sunday".split()
weathers = "rainy rainy sunny cloudy rainy sunny sunny".split()
temperatures = [10, 12, 12, 9, 9, 11, 11]
for day, weather, temperature in zip (days, weathers, temperatures):
    print(f"On {day} it was {weather} and the temperature was {temperature} degree celsius.")

# Or equivalently:
# for t in zip (days, weathers, temperatures):
#   print("On {} it was {} and the temperature was {} degrees celsius.".format(*t))

On Monday it was rainy and the temperature was 10 degree celsius.
On Tuesday it was rainy and the temperature was 12 degree celsius.
On Wednesday it was sunny and the temperature was 12 degree celsius.
On Thursday it was cloudy and the temperature was 9 degree celsius.
On Friday it was rainy and the temperature was 9 degree celsius.
On Saturday it was sunny and the temperature was 11 degree celsius.
On Sunday it was sunny and the temperature was 11 degree celsius.

## Exercise 1.11 (interleave)

- Create a function named interleave.
- The function takes an arbitrary number of lists as parameters.
- The input lists are assumed to have equal length.
- The function should return a single list with elements interleaved.
- Test the interleave function from the main program.
- interleave([1,2,3], [20,30,40], ['a', 'b', 'c']) 
- should return [1, 20, 'a', 2, 30, 'b', 3, 40, 'c']
- Use the zip function to implement interleave. Remember the extend method of list objects.

In [25]:
def interleave(*datas):
    result= []
    # we iterate through each element
    # *datas inside zip is turn multiple list into one list
    for data in zip(*datas):
        # we can extend each element in one list
        result.extend(data)    

    return result
def main():
    print(interleave([1, 2, 3], [20, 30, 40], ['a', 'b', 'c']))
main()

[1, 20, 'a', 2, 30, 'b', 3, 40, 'c']

## Enumerating sequences
Iterating with Indices in Python:
Python simplifies iteration through elements using for loops, but when you need to access the index of the current element, you can use Python's enumerate function. Here's an example where we find the second occurrence of the integer 5 in a list.
- The enumerate(L) function call can be thought to be equivalent to zip(range(len(L)), L).

In [26]:
L = [1, 2, 98, 5, -1, 2, 0, 5, 10]
counter = 0
for i, x, in enumerate(L):
    if x == 5:
        counter += 1
        if counter == 2:
            break
print(i)

7

## Dictionaries in Python:
- Dictionaries are dynamic and unordered containers.  
- Each (key, value) pair is called an item in the dictionary.
- A dynamic, unordered container that uses keys to access value-s. 
- Create it with comma-separated key-value pairs enclosed in braces. 
- Keys and values are separated by a colon, forming (key, value) items. 
- Keys can have different types, as long as they are hashable.

In [27]:
d = {"key1":"value1", "key2":"value2"}
print(d["key1"])
print(d["key2"])

value1
value2

In [28]:
# Alternative Syntax
dict([("key1", "value1"), ("key2", "value2"), ("key3", "value3")])
dict(key1="value1", key2="value2", key3="value3")

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [29]:
# Heading Non-Existing Keys:
d = {}
d[2] = "value"

## Dictionary Methods:

- d.copy()
- d.items()
- d.keys()
- d.values()
- d.get(k[,x])
- d.clear()
- d.update(d1)
- d.setdefault(k[,x])
- d.pop(k[,x])
- d.popitem()

## Sets in Python:
A dynamic, unordered container storing unique keys, and they must be hashable.

In [33]:
s = {1, 1, 1}
print(s)
s = set([1, 2, 2, 'a'])
print(s)
s = set() # empty set
s.add(7) # add one element
print(s)

{1}
{1, 2, 'a'}
{7}

In [31]:
s = "mississippi"
print(f"There are {len(set(s))} distinct characters in {s}")

There are 4 distinct characters in mississippi

- Set Methods:
```
s.copy()
s.issubset(s1)
s.issuperset(s1)
s.union(s1)
s.intersection(s1)
s.difference(s1)
s.symmetric_difference(s1)
```

In [34]:
# Use Operators for Operations:
s = set([1, 2, 7])
t = set([2, 8, 9])
print("Union:", s | t)
print("Intersection:", s & t)
print("Difference:", s - t)
print("Symmetric difference:", s ^ t)

Union: {1, 2, 7, 8, 9}
Intersection: {2}
Difference: {1, 7}
Symmetric difference: {1, 7, 8, 9}

### Mutating Methods:
```
s.add(x)
s.clear()
s.discard(x)
s.pop()
s.remove(x)
```

### Mutating Operatos:
```
|= for union
&= for intersection
-= for difference
^= for symmetric difference
```

## Exercise 1.12 (distinct characters)
- Create distinct_characters function, taking a list of strings as input. 
- Return a dictionary with strings as keys and distinct character counts as values.
- Use the set container to temporarily store the distinct characters in a string. Example of usage:
    - distinct_characters(["check", "look", "try", "pop"]) 
    - should return { "check" : 4, "look" : 3, "try" : 3, "pop" : 2}.

In [36]:
def distinct_characters(L):
    result = {}
    for word in L:
        result[word] = len(set(word))
    return result

def main():
    print(distinct_characters(["check", "look", "try", "pop"]))
main()

{'check': 4, 'look': 3, 'try': 3, 'pop': 2}

## Miscellaneous Python Points:

- Use `in` operator to check for element presence in a container.
- For strings, `in` can be used to check if one is part of another.
- Unpack container elements into variables.
- In dictionaries, keys are used by default in membership testing and unpacking.
- To remove variable bindings, use `del`.
- `del` can be used to delete items from containers and slices.
- Later, we'll see `del` for deleting attributes from objects.

In [1]:
print(1 in [1,2])
d = dict(a=1, b=3)
print("b" in d)
s=set()
print(1 in s)
print("x" in "text")

True
True
False
True

In [2]:
print("issi" in "mississippi")
print("issp" in "missippi")

True
False

In [3]:
first, second = [4,5]
a, b, c = "bye"
print(c)
d=dict(a=1, b=3)
key1, key2 = d
print(key1, key2)

e
a b

In [4]:
for key, value in d.items():
    print(f"For key '{key}' value {value} was stored")

For key 'a' value 1 was stored
For key 'b' value 3 was stored

In [6]:
s = "hello"
del s
# print(s) # This would cause an error

NameError: name 's' is not defined

In [7]:
L=[13, 23, 40, 100]
del L[1]
print(L)

[13, 40, 100]

### Exercise 1.13 (reverse dictionary)

In [18]:
"""
Creating a Finnish-English Dictionary:

Given a dictionary with English words as keys and lists of Finnish words as values.
Create a function called reverse_dictionary.
The function generates a Finnish to English dictionary.
Ensure handling synonyms and homonyms.

Out put we want
{'liikuttaa': ['move'], 'piilottaa': ['hide'], 'salata': ['hide'], 'kuusi': ['six', 'fir']}
"""

def reverse_dictionary(d):
    result = {}
   
    for key, values in d.items():
        for value in values:
          
            # check if current value is in a new result key list
            # if exist we have synonymous
            if value in result.keys():
                result[value].append(key)
            else:
                result[value] = [key]
    return result


def main():
    d={'move': ['liikuttaa'], 'hide': ['piilottaa', 'salata'], 'six': ['kuusi'], 'fir': ['kuusi']}
    result = reverse_dictionary(d)
    print(result)
main()

{'liikuttaa': ['move'], 'piilottaa': ['hide'], 'salata': ['hide'], 'kuusi': ['six', 'fir']}

In [20]:
# Exercise 1.14 (find matching)
"""
Write function find_matching that gets a list of strings and 
a search string as parameters. 
The function should return the indices to 
those elements in the input list that contain the search string. 
Use the function enumerate.
An example: 
find_matching(["sensitive", "engine", "rubbish", "comment"], "en") 
should return the list [0, 1, 3].
"""

def find_matching(L, pattern):
    result = []
    for index, word in enumerate(L):
        if pattern in word:
            result.append(index)
    return result
def main():
    result = find_matching(["sensitive", "engine", "rubbish", "comment"], "en") 
    print(result)
main()

[0, 1, 3]

## Creating Data Structures in Python:

- Use list comprehensions for compact list creation.

    - Example: `L = [a**3 for a in range(1,11)]`
- List comprehensions have the form: `[expression for element in iterable lc-clauses]`.
    - lc-clauses may include for and if clauses.
- Nested list comprehensions for more complex structures.

    - Example: `[100*a + 10*b + c for a in range(0,10) for b in range(0,10) for c in range(0,10) if a <= b <= c]`
- Use generator expressions when iterating once to save memory.
    - Replace brackets with parentheses: `G = (100*a + 10*b + c for a in range(0,10) for b in range(0,10) for c in range(0,10) if a <= b <= c)`
- Dictionary comprehension creates dictionaries.

    - Example: `d = {k: k**2 for k in range(10)}`
- Set comprehension creates sets.
    - Example: `s = {i*j for i in range(10) for j in range(10)}`

In [21]:
L=[ 100*a + 10*b +c for a in range(0,10)
                    for b in range(0,10)
                    for c in range(0,10) 
                    if a <= b <= c]
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 27, 28, 29, 33, 34, 35, 36, 37, 38, 39, 44, 45, 46, 47, 48, 49, 55, 56, 57, 58, 59, 66, 67, 68, 69, 77, 78, 79, 88, 89, 99, 111, 112, 113, 114, 115, 116, 117, 118, 119, 122, 123, 124, 125, 126, 127, 128, 129, 133, 134, 135, 136, 137, 138, 139, 144, 145, 146, 147, 148, 149, 155, 156, 157, 158, 159, 166, 167, 168, 169, 177, 178, 179, 188, 189, 199, 222, 223, 224, 225, 226, 227, 228, 229, 233, 234, 235, 236, 237, 238, 239, 244, 245, 246, 247, 248, 249, 255, 256, 257, 258, 259, 266, 267, 268, 269, 277, 278, 279, 288, 289, 299, 333, 334, 335, 336, 337, 338, 339, 344, 345, 346, 347, 348, 349, 355, 356, 357, 358, 359, 366, 367, 368, 369, 377, 378, 379, 388, 389, 399, 444, 445, 446, 447, 448, 449, 455, 456, 457, 458, 459, 466, 467, 468, 469, 477, 478, 479, 488, 489, 499, 555, 556, 557, 558, 559, 566, 567, 568, 569, 577, 578, 579, 588, 589, 599, 666, 667, 668, 669, 677, 678, 679, 688, 689, 699, 777, 778, 779, 788, 789, 799, 888, 889, 899, 999]

In [22]:
d={ k : k**2 for k in range(10)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [23]:
s={ i*j for i in range(10) for j in range(10)}
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 24, 25, 27, 28, 30, 32, 35, 36, 40, 42, 45, 48, 49, 54, 56, 63, 64, 72, 81}

In [26]:
# Exercise 1.15 (two dice comprehension)
"""
Redo the earlier exercise which printed all the pairs of two dice results that sum to 5. 
But this time use a list comprehension. Print one pair per line.
"""

def main():
    target = 5
    """
    for firstDie in range(1, 7):
        for secondDie in range(1, 7):
            if firstDie + secondDie == target:
                print(f"({firstDie}, {secondDie})")
    """
    
    [print(f"({firstDie}, {secondDie})") for firstDie in range(1, 7) for secondDie in range(1,7) if firstDie + secondDie == target]
main()

(1, 4)
(2, 3)
(3, 2)
(4, 1)

## Processing Sequences in Python:

- Python supports first-class functions, allowing you to:
    - Pass a function as a parameter to another function.
    - Return a function as a return value from a function.
    - Store a function in a data structure or a variable.
- Map and Lambda Functions:

    - Map function takes a list and a function as parameters, returning a new list with transformed elements.
    - The parameter function must take one value in and return a value out.

In [32]:
# Example using double function:
def double(x):
    return 2*x
L = [12, 4, -1]
print(list(map(double, L)))

[24, 8, -2]

In [33]:
# Converting a map object to a list:
result = list(map(double, L))
print(result)

[24, 8, -2]

In [29]:
# Example: Converting string numbers to integers using map:

s = "12 43 64 6"
L = s.split()
print(L)
print(sum(map(int, L)))

['12', '43', '64', '6']
125

In [30]:
"""
    Lambda expressions create nameless functions for one-time use:
    Example replacing add_double_and_square with a lambda function
"""
L = [2, 3, 5]
print(list(map(lambda x: 2*x + x**2, L)))

[8, 15, 35]

In [35]:
# Exercise 1.16 (transform)
"""
Takes two strings as parameters.
Splits the strings into words.
Converts the words into lists of integers.
Returns a list of integers, which are the products of corresponding positions in the two lists.

For example transform("1 5 3", "2 6 -1") 
should return the list of integers [2, 30, -3].
"""
def transform(s1, s2):
    first = list(map(int, s1.split()))
    second = list(map(int, s2.split()))
    return [x * y for x, y in zip(first, second)]
    #return list(map(lambda x, y: x * y, first, second))

def main():
    s1, s2 = "1 5 3", "2 6 -1"
    result = transform(s1, s2)
    print(result)
main()

[2, 30, -3]